

body {
    background-color: #00004c;
    color: #f3eb1c;
}

table {
    border: 1px solid #f3eb1c;
    border-collapse: collapse;
    padding: 0;
}
table th {
    background-color: #656565;
    font-weight: bold;
}
table td,th {
    border: 1px solid #f3eb1c;
    padding: 4px;
}

footer {
    position: absolute;
    bottom: 0;
}

#board {
    border: 1px solid #f3eb1c;
}
